/*
Theme Name: Flavor Flavor Flavor Child
Theme URI: https://tudominio.com
Description: Child theme personalizado basado en Flavor Flavor Flavor
Author: Tu Nombre
Author URI: https://tudominio.com
Template: flavor-flavor-flavor-flavor
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: flavor-flavor-flavor
*/

/* ==========================================================================
   ESTILOS PERSONALIZADOS
   ========================================================================== */

/* Los estilos del tema padre se cargan automáticamente via functions.php */

/* Añade tus estilos personalizados aquí */
